![imagen](img/python.jpg)

# Python Basics I


Bienvenido a tu primer asalto con Python. En este notebook encontrarás los primeros pasos para empezar a familiarizarte con este lenguaje.

1. [Variables](#1.-Variables)
2. [Print](#2.-Print)
3. [Comentarios](#3.-Comentarios)
4. [Flujos de ejecución](#4.-Flujos-de-ejecución)
5. [Del](#5.-Del)
6. [Tipos de los datos](#6.-Tipos-de-los-datos)
7. [Conversión de tipos](#7.-Conversión-de-tipos)
8. [Input](#8.-Input)
9. [None](#9.-None)
10. [Sintaxis y best practices](#10.-Sintaxis-y-best-practices)
11. [Resumen](#11.-Resumen)

## 1. Variables
Empezamos nuestra aventura en Python declarando variables. ¿Qué es esto y para qué sirve? Simplemente es una manera de etiquetar los datos del programa. Empezaremos declarando variables muy simples, como números y texto, pero acabaremos implementando estructuras más complejas.


### Variables numéricas

**Esto es una asignación**. A la palabra *ingresos*, le asignamos un valor mediante `=`.
Si queremos ver el valor de la variable, simplemente escribimos su nombre en una celda.

In [1]:
ingresos = 1000
gastos = 400

In [2]:
print(ingresos)

1000

In [3]:
gastos

400

In [4]:
ingresos
gastos

400

In [5]:
gastos
ingresos

1000

In [6]:
print(ingresos)
print(gastos)

1000
400

In [7]:
margen = ingresos - gastos

In [8]:
print(margen)

600

### Cadenas de texto
Las cadenas de texto se declaran con comillas simples o dobles

In [9]:
ingresos_text = "Los ingresos han sido altos"
print(ingresos_text)

Los ingresos han sido altos

In [10]:
print(margen)
print(type(margen))

600
<class 'int'>

In [11]:
# margen = str(margen) # Aquí estoy haciendo lo siguiente...
str(margen)

'600'

In [12]:
print(type(margen))

<class 'int'>

In [13]:
margen = 900

In [14]:
# ingresos_text_2 = margen + "El margen ha sido de "
ingresos_text_2 = "El margen ha sido de " + str(margen)
print(ingresos_text_2)

El margen ha sido de 900

In [15]:
int(margen)*0.1

90.0

In [16]:
ingresos_text = "Los ingresos "han sido altos""

SyntaxError: invalid syntax (3203928084.py, line 1)

In [17]:
ingresos_text = "Los ingresos \"han sido altos\""
print(ingresos_text)

Los ingresos "han sido altos"

In [18]:
ingresos_text = 'Los ingresos \'han sido altos'
ingresos_text

"Los ingresos 'han sido altos"

Python es un lenguaje dinámico por lo que siempre podremos actualizar los valores de las variables. **Se recomienda usar nombres descriptivos para declarar las variables, pero no excesivamente largos**. Así evitamos sobreescribirlas sin querer.

Por otro lado, cuidado con los caracteres ele y uno (`l` vs `1`), así como con cero y o (`0` vs `O`). Se suelen confundir.

fatal vs fata1

clarO vs clar0

Reasignamos valor a gastos

In [19]:
print(gastos)

400

In [20]:
gastos = 200

In [21]:
print(gastos)

200

Ahora la variable gastos vale 200. Si la última línea de una celda es una variable, su valor será el *output* de la celda: 200.

Vale, ¿y de qué nos sirve guardar variables?

Podremos usar estos datos posteriormente, en otro lugar del programa. Por ejemplo, si ahora en una celda nueva queremos obtener el beneficio, simplemente restamos los nombres de las variables

In [22]:
gastos = 100

In [23]:
beneficio = ingresos - gastos
beneficio

900

In [24]:
gastos = 200

In [25]:
beneficio

900

El `print` sirve para ver el output de la celda, imprimiendo valores por pantalla. Lo veremos en el siguiente apartado.

Si has programado en otros lenguajes, te llamará la atención que en Python no hay que especificar los tipos de los datos cuando declaramos una variable. No tenemos que decirle a Python que *ingresos* es un valor numerico o que *ingresos_texto* es una cadena de texto. Python lo interpreta y sabe qué tipo de datos son. Cada variable tiene su tipo de datos ya que **Python es un lenguaje fuertemente tipado**. Lo veremos más adelante, en el apartado *Tipos de datos*.

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en variables</h3>
         
 </td></tr>
</table>

### Escribir mal el nombre
Un error típico cuando declaramos variables es **escribir su nombre mal, o llamar despues a la variable de forma errónea**. En tal caso, aparece un `NameError: name 'variable_que_no_existe' is not defined`

In [26]:
gstos

NameError: name 'gstos' is not defined

Fíjate que te indica la línea donde se produce el error, el tipo de error (`NameError`), y una breve descripción del error.

In [27]:
print(hola)
hola = "Hola mundo"

NameError: name 'hola' is not defined

In [28]:
print(hola)

NameError: name 'hola' is not defined

### Cerrar bien los strings
Cuidado tambien cuando definamos una cadena de texto, y se nos olvide cerrarla con sus correspondientes comillas. Nos dará un `SyntaxError: EOL while scanning string literal` (End Of Line)

In [29]:
texto = "Error sin comillas

SyntaxError: unterminated string literal (detected at line 1) (90447780.py, line 1)

### Prohibido espacios en los nombres de las variables
También dará error si tenemos un espacio en la declaración de la variable. Se recomienda mínusculas y guiones bajos para simular los espacios.

**Los espacios que encuentres alrededor del igual se pueden usar perfectamente**. Es pura estética a la hora de leer el código.

In [30]:
new var = "variable"

SyntaxError: invalid syntax (236228645.py, line 1)

In [31]:
new_var = "variable"

### Números en el nombre de la variable
Ojo con los números cuando declaremos variables. En ocasiones es determinante describir nuestra variable con algún número. En tal caso, ponlo siempre al final del nombre de la variable, ya que sino saltará un error.

In [32]:
ingresos_2009 = 900
ingresos_2009

900

In [33]:
2009_ingresos

SyntaxError: invalid decimal literal (176038607.py, line 1)

### Sensible a mayusculas
Mucho cuidado con las mayusculas y minusculas porque Python no las ignora. Si todas las letras de una variable están en mayusculas, tendremos que usarla en mayusculas, sino dará un error de que no encuentra la variable.

In [34]:
ingresos_2009 = 900
ingresos_2009

900

In [35]:
Ingresos_2009 = 200

In [36]:
print(ingresos_2009)
print(Ingresos_2009)

900
200

### Palabras reservadas
En Python, como en otros lenguajes, hay una serie de palabras reservadas que tienen un significado para el intérprete de Python y por lo tanto no podemos usar para ponerle nombre a nuestras variables.

Por ejemplo, `def` se usa para definir funciones en Python (lo veremos en otros notebooks), por lo que no podemos emplear `def` para nombrar a nuestras variables

In [37]:
def = 10

SyntaxError: invalid syntax (3594483855.py, line 1)

Consulta la lista de palabras reservadas de Python

In [38]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [39]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Resumen variables
En resumen:
* Usar minusculas. Sensible a mayusculas/minusculas
* No usar espacios
* No usar palabras reservadas
* No usar numeros al principio de la variable
* Cuidado con los caracteres `l`, `1`, `O`, `0`

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio variables</h3>

      
<ol>
    <li>Almacena tu nombre y tus apellidos en dos variables diferentes. </li>
    <li>Guarda tu edad en otra variable</li>
    <li>Modifica la variable de tu edad</li>
    <li>Comprueba que todas las variables tienen los valores que les corresponde</li>
    <li>Haz un print por pantalla presentándote haciendo uso de las variables.</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
# Almacena tu nombre y tus apellidos en dos variables diferentes.

In [85]:
# Guarda tu edad en otra variable

In [ ]:
# Modifica la variable de tu edad<

In [ ]:
# Comprueba que todas las variables tienen los valores que les corresponde

In [ ]:
# Haz un print por pantalla presentándote haciendo uso de las variables.

## 2. Print

Hasta ahora hemos visto en Jupyter dos tipos de celdas:
* **Markdown**: básicamente texto para las explicaciones
* **Código**: donde insertamos el código Python y lo ejecutamos

Las celdas de código, no solo corren el código y realizan todas las operaciones que le indiquemos, sino que también tienen un output, una salida de ese código. Tenemos dos opciones para ver el output del código, o bien mediante `print`, o poniendo una variable al final de la celda. En este último caso, veremos el valor de esa variable

In [40]:
print("Ingresos", ingresos)
print("Gastos", gastos)
print("Los beneficios han sido de: ")
print(beneficio)

Ingresos 1000
Gastos 200
Los beneficios han sido de:
900

Si hacemos un print de un texto, podemos concatenar valores de variables mediante `%s`.

In [41]:
beneficio = 200

In [42]:
print('Los beneficios de junio han sido de 900 millones')

Los beneficios de junio han sido de 900 millones

In [43]:
print("Los beneficios de %s han sido de %s millones" % ("septiembre", beneficio))

print("Los beneficios de", "septiembre", "han sido de" ,beneficio, "millones")

Los beneficios de septiembre han sido de 200 millones
Los beneficios de septiembre han sido de 200 millones

In [44]:
print("de " + beneficio + " millones")

TypeError: can only concatenate str (not "int") to str

In [45]:
print("de " + str(beneficio) + " millones")

de 200 millones

Otra opcion si queremos imprimir por pantalla varios strings, es separandolos por comas en el `print`. Fíjate que le añade espacios en la salida cada vez que ponemos un valor nuevo entre comas.

In [46]:
mes = "agosto"
print("Los beneficios de", mes, "han sido de", beneficio, "millones")

Los beneficios de agosto han sido de 200 millones

In [47]:
# "Los beneficios deagostohan sido de800millones"

In [48]:
print(f"Los beneficios de {mes} han sido de {beneficio} millones")

Los beneficios de agosto han sido de 200 millones

## 3. Comentarios
Se trata de texto que va junto con el código, y que el intérprete de Python ignora por completo. Muy útil para documentar y explicar el código

In [49]:
# # Comentario de linea
# print("Esto lo ignora")

print("esto si lo ejecuta") # Aqui tambien me vale

'''
Comentario
Multilinea
'''

"""
Comentario
Multilinea
"""

print("Fin del programa") # Aquí muestra por pantalla el final

esto si lo ejecuta
Fin del programa

**IMPORTATE**. SIEMPRE comentar el código. Nunca sabes quén lo puede heredar. Te dejo en [este link](https://realpython.com/python-comments-guide/) una guía interesante sobre cómo comentar tu código.

## 4. Flujos de ejecución
Los programas de Python se ejecutan secuencialmente, por lo que el orden en el que escribas las operaciones es determinante

In [50]:
ventas_jun_jul = ventas_junio + ventas_julio

ventas_junio = 100
ventas_julio = 150

NameError: name 'ventas_junio' is not defined

In [51]:
ventas_junio

NameError: name 'ventas_junio' is not defined

In [52]:
ventas_junio = 100
ventas_julio = 150

ventas_jun_jul = ventas_junio + ventas_julio
print(ventas_jun_jul)

250

**Da error**, primero tenemos que declarar las ventas, y luego sumarlas.

**¿Cuándo acaba una línea de código?**. El salto de línea lo interpreta Python como una nueva instrucción. En muchos lengujes, como Java hay que especificar el fin de la sentencia de código mediante `;`. En Python no es necesario, aunque se puede usar igualmente.

In [53]:
x = 1,2,3
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [54]:
dinerito = 3.5
print(dinerito)

3.5

In [55]:
dinerito, otra_variable = 3,5
print(dinerito)
print(type(dinerito))

3
<class 'int'>

In [56]:
altura = 1.80; peso = 75
# altura, peso = 1.8,75
# altura = 1.8
# peso = 75
print(altura)

x, y, z = 1, 2, 3
print(z)

1.8
3

In [57]:
x = 1
y = 2
z = 3

In [58]:
x = 1; y = 2; z = 3

## 5. Del
Es la sentencia que usaremos para borrar una variable. La verdad, no se suelen borrar variables. Vamos desarrollando los programas de Python sin preocuparnos de limpiar aquellas variables que no usamos. Normalmente no borrarlas no suele ser un problema, pero cuando manejamos un gran volumen de datos, podemos sufrir problemas de rendimiento ya que **las variables ocupan memoria**.

Cuando las variables son las que hemos visto hasta ahora, no pasa nada, pero si son más pesadas, como por ejemplo datasets de imágenes que ocupan mucho, sí va a venir bien eliminar aquellas que no usemos.

In [59]:
altura = 1.8

In [60]:
print(altura)

1.8

In [61]:
del altura
print(altura)
# print(x)

NameError: name 'altura' is not defined

## 6. Tipos de los datos
Python es un lenguaje fuertemente tipado. Eso significa que las variables que usamos pertenecen a un tipo de datos: numero entero (int), real (float), texto (String), u otro tipo de objetos.

**¿Por qué es importante saber bien de que tipos son los datos?** Porque cada tipo de dato tiene una serie propiedades y operaciones asociadas. Por ejemplo, a un texto no lo puedo sumar 5. Por lo que cuando vayamos a hacer operaciones entre ellos, tenemos que asegurarnos de que son del mismo tipo para que el resultado sea el esperado. `texto + 5` no tiene sentido y va a dar error. Parece obvio, pero hay ocasiones en las que los tipos de los datos no son los esperados.

**¿Cuántos tipos de datos hay?** Básicamente aquí no hay límites. En este notebook veremos los más básicos, pero en notebooks posteriores verás que puedes crearte tus propios tipos de datos mediante las **clases**. En Python hay una serie de tipos de datos básicos, que podremos usar sin importar ningun módulo externo, son los llamados [*built-in Types*](https://docs.python.org/3/library/stdtypes.html). Estos son los más comunes:

* **Numérico**: tenemos `int`, `float` y `complex`. Dependiendo de si es un numero entero, uno real o un complejo.
* **String**: o Cadena. Cadena de texto plano
* **Booleano**: o Lógico. `True`/`False`

**¿Cómo sabemos el tipo de datos de una variable?** Mediante `type(nombre_variable)`

### Numéricos

In [62]:
numero = 22
type(numero)

int

Bien, es un ***int***, un número entero. Si lo que quiero es un numero real, es decir, que tenga decimales, le añado un punto

In [63]:
numero_real = 22.45
type(numero_real)

float

Aunque no le haya añadido decimales como tal, ya le estoy diciendo a Python que esta variable es un numero real (***float***).

In [64]:
numero_real = 22.0
type(numero_real)

float

Algunas operaciones básicas que podemos hacer con los numeros:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [65]:
print("Sumas y restas")
print(1 + 2)
print(1.0 + 2)
print(1.0 - 2)

print("-"*100)

print("Mult/Div")
print(2*2)
print(2.0*2)
print(2/2)

print("-"*100)

print("Resto division")
print(11/3)
print(int(11/3))
print(11 % 3)
print(11 // 3)

print("-"*100)

print("Elevar")
print(2**3)

Sumas y restas
3
3.0
-1.0
----------------------------------------------------------------------------------------------------
Mult/Div
4
4.0
1.0
----------------------------------------------------------------------------------------------------
Resto division
3.6666666666666665
3
2
3
----------------------------------------------------------------------------------------------------
Elevar
8

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:center">
         <h3>Ejercicio variables</h3>

      
<ol> Calcula para x = 3

1. $$1+x^2$$
2. $$(1+x)*2$$
3. $$(1+x)^2$$
</ol>
         
 </td></tr>
</table>

In [125]:
# AQUÍ VA TU CÓDIGO

In [ ]:
# AQUÍ VA TU CÓDIGO

In [ ]:
# AQUÍ VA TU CÓDIGO

### Strings
El tercer tipo de datos más común es el *String*, o cadena de texto. Hay varias maneras de declararlo:

In [66]:
cadena = "Esto es un string"
type(cadena)

str

Si da la casualidad de que en el texto hay comillas, tenemos la posibilidad de que Python las interprete como parte del texto y no como comando de inicio/cierre de String

In [67]:
print("String con 'simples'")
print('String con "simples"')
print("String con \"simples\"")
# print("""String con "simples\"""")

String con 'simples'
String con "simples"
String con "simples"

En ocasiones queremos poner saltos de línea o tabulaciones en los prints, o simplemente en una variable de tipo String. Para ello usamos los [*escape characters*](https://www.w3schools.com/python/gloss_python_escape_characters.asp) como `\n` para saltos de línea o `\t` para tabulaciones.

In [68]:
mi_string = "Primera linea\nSegunda linea\n\tTercera linea"

In [69]:
print(mi_string)

Primera linea
Segunda linea
	Tercera linea

In [70]:
len(mi_string)

42

Para unir dos variables de tipo String, simplemente usamos el `+`

In [71]:
nombre = "Bon"
apellido = "Scott"
espacio_blanco = " "

nombre_apellido = nombre + espacio_blanco + apellido
print(nombre_apellido)

Bon Scott

In [72]:
len(espacio_blanco)

1

In [73]:
len("")

0

### Booleano
Por último, el cuarto tipo de datos basiquísimo es el *booleano*: `True`/`False`. Para que Python reconoza este tipo de datos, hay que escribirlos con la primera letra en mayúscula

In [74]:
ya_se_de_python = False
type(ya_se_de_python)

bool

In [75]:
print(dinerito)

3

In [76]:
dinerito >= 15

False

In [77]:
dinerito = 15
cond_1 = dinerito >= 15
print(cond_1)
type(cond_1)

True

bool

Tipos de datos hay muchos, verás más adelante cómo crear tus propios tipos de datos mediante las clases y los objetos. Pero por ahora, quédate con los tipos de datos más simples:
* **int**: entero
* **float**: real
* **str**: cadena de texto
* **booleano**: true/false

En otros lenguajes de programación el valor numérico suele ir más desagregado dependiendo del volumen del mismo. No es lo mismo tener un `double`, que un `float`. Por suerte en Python no hay que preocuparse de eso :)

Veamos más ejemplos

In [78]:
print(type(1.0))
print(type(-74))
print(type(4/1))

<class 'float'>
<class 'int'>
<class 'float'>

In [79]:
variable_tipos = "-74"
print(variable_tipos * 10) #repite el string
print(int(variable_tipos) * 10)

-74-74-74-74-74-74-74-74-74-74
-740

In [80]:
print(type("-74"))

<class 'str'>

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en tipos de datos</h3>
         
 </td></tr>
</table>

In [81]:
print("Lleva "comillas" dobles. Da fallo")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (336798488.py, line 1)

## 7. Conversión de tipos
Como en otros lenguajes, en Python también tenemos la posibilidad de realizar conversiones entre los tipos de datos. Hasta ahora hemos visto pocos, pero cuando descubramos más tipos de datos y objetos, verás que son muy comunes estas transformaciones.

Un caso muy habitual es leer un archivo datos numéricos, y que Python interprete los números como caracteres. No es un error, pero posteriormente, cuando hagamos operaciones con nuestros números, tendremos errores, ya que en realidad son cadenas de texto. Si forzamos el cambio a numerico, nos evitaremos futuros problemas.

**Mucho cuidado en los cambios de tipos**. Tenemos que estar seguros de lo que hacemos ya que podemos perder información, o lo más probable, puede dar error, al no ser compatible el cambio.

Veamos como cambiar los tipos

In [82]:
num_real = 24.69
print(type(num_real))

num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

<class 'float'>
24
<class 'int'>

Perdemos unos decimales, normalmente nada grave, aunque depende de la aplicación.

**NOTA**: si lo que queremos es redondear, podemos usar la función `round()`

In [83]:
num_real = 24.686
print(num_real)

24.686

In [84]:
num_redondeado = round(num_real)
print(num_redondeado)

25

In [85]:
int(round(num_real))

25

In [86]:
round(24.691739372, 0)

25.0

In [87]:
round(num_real, 1)

24.7

Para pasar de un **numero a string**, no hay problema

In [88]:
real = 24.69
entero = 5

real_str = str(real)
entero_str = str(entero)

print(type(real_str))
print(real_str)

<class 'str'>
24.69

In [89]:
real + entero

29.69

In [90]:
real_str + entero_str

'24.695'

De **String a un número** tampoco suele haber problema. Hay que tener mucho cuidado con los puntos de los decimales. **Puntos, NO comas**

In [91]:
mi_entero, mi_otro_entero = 98,56

In [92]:
mi_entero

98

In [93]:
mi_string = "98"
mi_entero = int(mi_string)
print('mi_string', mi_string)

print(type(mi_string))
print('mi_entero',mi_entero)
print(type(mi_entero))

mi_string 98
<class 'str'>
mi_entero 98
<class 'int'>

In [94]:
print(int("98"))
print(float("98.56"))
print(int(float("98.56")))
# print(float("98,56"))
print(int("98.56"))

98
98.56
98

ValueError: invalid literal for int() with base 10: '98.56'

Pasar de **numero a boleano y viceversa**, tambien es bastante sencillo. Simplemente ten en cuenta que los 0s son `False`, y el resto de numeros equivalen a un `True`

In [95]:
print(bool(1))
print(bool(0))
# print(bool(-1.87))

True
False

In [96]:
print(int(True))
print(int(False))

1
0

En el caso de transformar **String a booleano**, los strings vacíos serán `False`, mientras que los que tengan cualquier cadena, equivaldrán a `True`.

Sin embargo, si la operación es la inversa, el booleano `True` pasará a valer una cadena de texto como `True`, y para `False` lo mismo.

In [97]:
print(bool(""))
print(bool("bdskajsnlkd"))

False
True

In [98]:
verdadero = True
print(type(verdadero))
print(str(verdadero))
print(type(str(verdadero)))

<class 'bool'>
True
<class 'str'>

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversion de tipos</h3>
         
 </td></tr>
</table>

Ojo si intentamos pasar a entero un string con pinta de real. En cuanto lleva el punto, ya tiene que ser un numero real. A no ser que lo pasemos a real y posteriormente a entero (`int()`), o usando el `round()` como vimos anteriormente

In [99]:
int("98.25")

ValueError: invalid literal for int() with base 10: '98.25'

Si leemos datos con decimales y tenemos comas en vez de puntos, habrá errores.

In [100]:
int(round(float("98.75"),0))

99

In [101]:
float("98,25")

ValueError: could not convert string to float: '98,25'

Para solventar esto utilizaremos funciones que sustituyan unos caracteres por otros

In [102]:
numero = "98,25"
print(numero)

numero_punto = numero.replace(",", ".")
print(numero_punto)

numero_float = float(numero_punto)
print(type(numero_float))

98,25
98.25
<class 'float'>

In [103]:
string_ejemplo = "Vivo en Madrid. Seguro en Madrid?"

print(string_ejemplo.replace("Madrid", "Barcelona"))

Vivo en Barcelona. Seguro en Barcelona?

In [104]:
string_ejemplo = "Vivo en Madrid. Seguro en Madrid?"

print(string_ejemplo.replace(input("Qué quieres borrar"), input("Qué quieres añadir?")))

Vivo en Barcelona. Seguro en Barcelona?

Es fudndamental operar con los mismos tipos de datos. Mira lo que ocurre cuando sumamos texto con un numero. Da un `TypeError`. Básicamente nos dice que no puedes concatenar un texto con un numero entero

In [105]:
"4" + 6

TypeError: can only concatenate str (not "int") to str

In [106]:
6 + "4"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio tipos de datos</h3>

      
<ol>
    <li>Crea una variable de tipo String en la que se incluyan unas comillas dobles </li>
    <li>Comprueba su tipo</li>
    <li>Crea otro string guardándolo en otra variable, y prueba a sumarlos</li>
    <li>Ahora declara una variable entera. Imprímela por pantalla</li>
    <li>Cambia el tipo de la variable entera a float. Imprime por pantalla tanto la nueva variable obtenida, como su tipo</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
# AQUÍ VA TU CÓDIGO

In [ ]:
# AQUÍ VA TU CÓDIGO

In [ ]:
# AQUÍ VA TU CÓDIGO

In [ ]:
# AQUÍ VA TU CÓDIGO

In [ ]:
# AQUÍ VA TU CÓDIGO

## 8. Input
Esta sentencia se usa en Python para recoger un valor que escriba el usuario del programa. Los programas suelen funcionar de esa manera, reciben un input, realizan operaciones, y acaban sacando un output para el usuario.

Por ejemplo, en la siguiente celda recojo un input, que luego podremos usar en celdas posteriores.

**CUIDADO**. Si corres una celda con un `input()` el programa se queda esperando a que el usuario meta un valor. Si en el momento en el que está esperando, vuelves a correr la misma celda, se te puede quedar pillado, depende del ordendaor/versión de Jupyter. Si eso ocurre, pincha en la celda y dale despues al botón de stop de arriba, o sino a Kernel -> Restart Kernel...

In [107]:
primer_input = input()

In [108]:
print(primer_input)

30

In [109]:
print(type(primer_input))

<class 'str'>

Puedes poner ints, floats, strings, lo que quieras recoger en texto plano.

Mira que fácil es hacer un chatbot un poco tonto, mediante el que hacemos preguntas al usuario, y almacenamos sus respuestas.

In [110]:
# del nombre
lenguaje = "SQL"

In [ ]:
nombre = input("¿Cómo te llamas?")
print("Encantado de saludarte,", nombre)

feedback = input(f"¿Qué te está pareciendo {lenguaje}")
print("Coincido con", feedback)

Encantado de saludarte, Iraitz
Coincido con No lo he visto

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES con input</h3>
         
 </td></tr>
</table>

In [113]:
"""
Por defecto, el input del usuario es de tipo texto. Habrá que convertirlo a numerico con int(numero_input)
o con float(numero_input). Lo vemos en el siguiente notebook.
"""
# num_input = float(input("Introduce un numero)"))
num_input = input("Introduce un numero)")
print(type(num_input))
num_input + 4

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [114]:
num_input = int(input("Introduce un numero"))

num_input + 4

8

<table align="left">
 <tr><td width="80"><img src="img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio input</h3>

En este ejemplo vamos a simular un chatbot al que le haremos pedidos de pizzas.
<ol>
    <li>El chatbot tiene que saludar con un: "Buenas tardes, bienvenido al servicio de pedido online, ¿Cuántas pizzas desea?"</li>
    <li>El usuario tiene que introducir un número de pizzas en una variable llamada 'pizz'</li>
    <li>Respuesta del chatbot: "Estupendo, se están preparando 'pizz' pizzas. Digame su dirección"</li>
    <li>El usuario tiene que introducir una direccion en formato String en otra variable llamada 'direcc'</li>
    <li>Respuesta final del chatbot: "Le mandaremos las 'pizz' pizzas a la dirección 'direcc'. Muchas gracias por su pedido."</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
# AQUÍ VA TU CÓDIGO

### Bonus: Informa de la oferta de pagar solo 2 de cada 3 pizzas que se lleve el usuario. Cuántas pizzas debe pagar?

In [ ]:
# AQUÍ VA TU CÓDIGO

## 9. None
Palabra reservada en Python para designar al valor nulo. `None` no es 0, tampoco es un string vacio, ni `False`, simplemente es un tipo de datos más para representar el conjunto vacío.

In [115]:
string = ""
print(type(string))

<class 'str'>

In [116]:
dinero = 0
print(type(dinero))

<class 'int'>

In [117]:
print(None)
print(type(None))

None
<class 'NoneType'>

## 10. Sintaxis y best practices
A la hora de escribir en Python, existen ciertas normas que hay que tener en cuenta:
* Todo lo que abras, lo tienes que cerrar: paréntesis, llaves, corchetes...
* Los decimales se ponen con puntos `.`
* Best practices
    * **Caracteres**: NO se recomienda usar Ñs, acentos o caracteres raros (ª,º,@,ç...) en el codigo. Ponerlo únicamente en los comentarios.
    * **Espacios**: NO usar espacios en los nombres de las variables ni de las funciones. Se recomienda usar guión bajo para simular el espacio. O también juntar las palabras y usar mayuscula para diferenciarlas `miVariable`. Lo normal es todo minúscula y guiones bajos
    * Ahora bien, sí se recomienda usar espacios entre cada comando, para facilitar la lectura, aunque esto ya es más cuestión de gustos. `mi_variable = 36`.
    * Se suelen declarar las variables en minuscula.
    * Las constantes (variables que no van a cambiar nunca) en mayuscula. `MI_PAIS = "España"`
    * **Cada sentencia en una linea**. Se puede usar el `;` para declarar varias variables, pero no es lo habitual
    * **Comentarios**: TODOS los que se pueda. Nunca sabes cuándo otra persona va a coger tu espectacular código, o si tu *yo* del futuro se acordará de por qué hiciste ese bucle while en vez de un for.
    * **Case sensitive**: sensible a mayusculas y minusculas. CUIDADO con esto cuando declaremos variables o usemos Strings
    * **Sintaxis de línea**: para una correcta lectura del codigo lo mejor es aplicar sintaxis de línea en la medida de lo posible

In [118]:
lista_compra = ['Manzanas',
                'Galletas',
                'Pollo',
                'Cereales']

In [119]:
tupla_compra = ('Manzanas',
                'Galletas',
                'Pollo',
                'Cereales')

### The Zen of Python
Cualquier consejo que te haya podido dar hasta ahora se queda en nada comparado con los 20 principios que definió *Tim Peters* en 1999. Uno de los mayores colaboradores en la creación de este lenguaje

In [120]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## 11. Resumen

In [121]:
# Declarar variables
var = 10

# Reasignar valores
var = 12

# Imprimir por pantalla
print("Primera linea")
print("Variable declarada es:", var)
print("Variable declarada es: %s" %(var))

"""
Comentarios
Multilínea
"""

# Eliminar variables
del var

# Tipos de datos
print("\n") # Simplemente para que haya un salto de linea en el output
print(type(1)) # Int
print(type(1.0)) # Float
print(type("1")) # String
print(type(True)) # Boolean

# Conversiones de tipos
print("\n")
var2 = 4
print(type(var2))
var2 = str(var2)
print(type(var2))
var2 = bool(var2)
print(type(var2))

# El valor nulo
print(None)

# Input de variables
var3 = input("Inserta variable ")

Primera linea
Variable declarada es: 12
Variable declarada es: 12


<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>


<class 'int'>
<class 'str'>
<class 'bool'>
None