![imagen](./img/python.jpg)

# Lectura Escritura

En este módulo vas a ver diferentes maneras de leer y escribir datos desde archivos locales. Rara vez trabajarás únicamente con los datos que genere tu programa de Python, sino que lo normal será acudir a una fuente de datos, o leer de algún archivo.

1. [Archivos](#1.-Archivos)
2. [Abrir ficheros](#2.-Abrir-ficheros)
3. [CSV](#3.-CSV)
4. [Excel](#4.-Excel)
5. [XML](#5.-XML)
6. [JSON](#6.-JSON)
7. [TXT](#7.-TXT)
8. [ZIP](#8.-ZIP)
9. [pickle](#9.-pickle)
10. [Encoding](#10.-Encoding)
11. [Archivos y carpetas](#11.-Archivos-y-carpetas)

## 1. Archivos
Antes de ir a leer o escribir archivos, es importante saber exáctamente qué es un archivo. **Un archivo es un conjunto de datos almacenados en el ordenador en forma de bits.** Los datos se organizan en un formato específico, pudiendo ser un archivo de texto, un ejecutable... pero en el fondo todos esos archivos se traducen a nivel binario para el procesado del ordenador. Los archivos se componen de:

1. **Header**: metadatos del archivo (nombre, tamaño, tipo...)
2. **Data**: contenido del archivo
3. **End of file (EOF)**: caracter especial que indica el final del archivo.

![imagen](./img/file.png)

#### File path
Hay tres elementos que tenemos que conocer cuando leamos un archivo:
1. **Folder path**: en que lugar del ordenador está el archivo. Y no solo eso, si no en qué directorio está apuntando el programa de Python.
2. **File name**
3. **Extension**: lo que va después del punto

Fíjate en la siguiente imagen:

![imagen](./img/path.png)

* Si estamos trabajando en el directorio *to*, accederemos a *cats.gif* como `cats.gif`
* Si queremos leer *dog_breeds.txt*, hay que ir un directorio hacia atrás, `../dog_breeds.txt`
* Y si queremos acceder a `animals.csv`, son dos directorios hacia atrás: `../../animals.csv`

Siempre podemos poner la ruta absoluta (`C/Users/usuario/Archivos/Bootcamp/Python/animals.csv`) para el acceso a cada archivo, **aunque no es lo recomendable**.

[Buena guía para iniciarse en la lectura/escritura de archivos con Python.](https://realpython.com/read-write-files-python/)

## 2. Abrir ficheros
A lo largo de este notebook verás diferentes funciones para leer archivos, en función de la extensión cada uno. Estas funciones provienen de otras librerías y nos facilitan mucho la vida a la hora de leer o escribir archivos. No obstante, Python tiene sus propias funciones *built-in*, con las que no es necesario utilizar otros paquetes. 

Para ello **usaremos la función `open`**, que devuelve un objeto de tipo `File`, con unos métodos y atributos propios empleados para obtener información de los archivos abiertos. `open` sigue la siguiente sitaxis:

```Python
file_object  = open("filename", "mode")
```

El primer argumento es el nombre del archivo, mientras que en el modo tendremos que especificar si queremos leer, o escribir. Por defecto leerá, es decir, el parámetro valdrá *r*, de read. [Te dejo el enlace a la documentación para consultar el resto de modos](https://docs.python.org/3/library/functions.html#open).

Vamos a probar a leer un archivo. La siguiente sintaxis de línea se utiliza porque en algún momento se tiene que cerrar el archivo. Se abre, leemos, realizamos operaciones, y cuando acaba el `with open()`, se cierra el archivo. **Leer y escribir mientras los archivos están abiertos nos dará errores**.

In [2]:
with open('data/dog_breeds.txt', 'r') as open_file:
    all_text = open_file.read()
    print(type(all_text))
    print(all_text)

<class 'str'>
Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier

El método `.read()` nos devuelve un string con todo el texto, que no es lo ideal para tratar luego los datos.

En el siguiente ejemplo vemos como también lo leemos, pero en este caso cada línea la guarda en una lista.

In [3]:
with open('data/dog_breeds.txt', 'r') as open_file:
    all_text = open_file.readlines()
    print(type(all_text))
    print(all_text)

<class 'list'>
['Pug\n', 'Jack Russell Terrier\n', 'English Springer Spaniel\n', 'German Shepherd\n', 'Staffordshire Bull Terrier\n', 'Cavalier King Charles Spaniel\n', 'Golden Retriever\n', 'West Highland White Terrier\n', 'Boxer\n', 'Border Terrier']

In [4]:
with open('data/dog_breeds.txt', 'r') as open_file:
    for line in open_file.readlines():
        print(line, end = '')
        
print('\nFin')

Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier
Fin

In [5]:
with open('data/dog_breeds.txt', 'r') as reader:
    # Read and print the entire file line by line
    for line in reader:
        print(line, end='')

Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier

Si queremos escribir

In [6]:
with open('data/preguntas.txt', 'w') as new_file:
    new_file.write("print(\"Hola mundo\")\n")
    new_file.write("#Esto se crea?\n")
    new_file.write("#Segunda linea\n")
    new_file.write("#Tercera linea\n")
    print("Ya se ha escrito")

Ya se ha escrito

In [7]:
with open("data/preguntas.txt", "r") as new_file:
    linea = new_file.readline()
    print(linea)
    print(new_file.readline())
    print(new_file.readline())

print("Hola mundo")

#Esto se crea?

#Segunda linea

In [8]:
with open('data/class_hlf.txt', 'w') as new_file:
    new_file.write("class Barco():\n")
    new_file.write("\teslora = 4")
    # new_file.write("Pregunta")
    print("Ya se ha escrito")

Ya se ha escrito

In [9]:
with open('data/class_hlf.txt', 'a') as new_file:
    new_file.write("\n\nclass Tablero():\n")
    new_file.write("\tjugadores = 4")
    # new_file.write("Pregunta")
    print("Ya se ha escrito")

Ya se ha escrito

## 3. CSV
***Comma Separated Values*. Es el estándar de la industria que se utiliza para leer/escribir datos en formato tabla**, en dos dimensiones. Se llaman *Comma Separeted Values* ya que todos los valores de las columnas van separados por comas, y las filas por saltos de línea. **Su extension de archivo es `.csv`**. Además, el 99% de las veces llevan la cabecera de columnas en la primera línea. Aunque no siempre se dará el caso, depende de la manera en la que se haya generado el CSV.

**Es el archivo más común utilizado para guardar datos tabulares, puesto que ocupa muy poco espacio** ya que es simplemente un archivo de texto plano, con todos los datos separados por el caracter coma. Y además, sencillo de entender, los datos no van en un árbol json o xml... Si lo abrimos como texto plano, son los datos separados por coma, tal cual. 

Por supuesto, tenemos el otro gran protagonista en cuanto a almacenamiento de datos en formato tabla, **el Excel**. A ver, son cosas diferentes. El Excel tiene sus formatos (.xlsx, .xls), que encima son muy eficientes ya que el dato va comprimido, pero no deja de ser un software de pago para tratar los datos, mientras que **el CSV es un formato estándar que se utiliza en todos los sistemas operativos para el exportado/importado de datos**.

Como decíamos al principio, los CSVs se llaman *Comma Separated Values* porque todos los valores van separados por comas... bueno, esto no es del todo cierto ya que **puede haber otro caracter que no sea la coma**, como por ejemplo el punto y coma. ¿Por qué? Simplemente porque si tenemos datos decimales, separados por comas, no vamos a saber distinguir cuando una coma es de un decimal, o es el separador de columnas.

**¿Cómo podemos leer un CSV en Python?** Con Pandas! [Aquí tienes la documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/laliga.csv')
df.head()

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

**Parámetros interesantes del `read_csv()`**
1. `filepath_or_buffer`: ruta donde está el CSV
2. `sep`: el separador de los datos, por defecto es coma, pero podría ser otro como veremos en ejemplos posteriores.
3. `header`: dónde se encuentran los nombre de columnas. Por defecto es en la primera línea.

Probemos a leer el CSV desde otra ruta del ordenador

In [11]:
tu_ruta = 'data/laliga.csv'
df = pd.read_csv(tu_ruta)

df.head()

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

Una de las columnas, la podremos usar como index

In [12]:
df = pd.read_csv('data/laliga.csv', index_col = "Unnamed: 0")
df.head()

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

Si queremos pasar el índice a una nueva columna, simplemente creamos una columna nueva

In [13]:
df['nueva columna'] = df.index
df.reset_index(inplace=True, drop=True)

In [14]:
df.head()

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp,nueva columna
0,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600,26201
1,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600,26202
2,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600,26203
3,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000,26204
4,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000,26205

Podemos resetear también el índice, y poner ahi un numérico que vaya desde el 0 al número de filas.

In [15]:
# Resetear el index. Drop= True para que no lo conserve
df.reset_index(drop=True)

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp,nueva columna
0,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600,26201
1,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600,26202
2,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600,26203
3,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000,26204
4,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000,26205
...,...,...,...,...,...,...,...,...,...,...
4935,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800,36680
4936,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200,36681
4937,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200,36682
4938,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200,36683
4939,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200,36684

In [16]:
# Para cambiar el indice
df.index = range(1, df.shape[0] + 1)
df.head()

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp,nueva columna
1,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600,26201
2,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600,26202
3,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600,26203
4,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000,26204
5,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000,26205

In [17]:
# Dimensiones
print(df.shape) # Ambas
print(df.shape[0]) # Filas
print(df.shape[1]) # columnas
print(len(df)) # Filas tambien

(4940, 10)
4940
10
4940

In [18]:
df.head(2)

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp,nueva columna
1,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600,26201
2,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600,26202

También es posible aplicarle nombres de columnas en la lectura de los datos

In [19]:
df.columns

Index(['season', 'division', 'round', 'localTeam', 'visitorTeam', 'localGoals',
       'visitorGoals', 'date', 'timestamp', 'nueva columna'],
      dtype='object')

In [20]:
df = pd.read_csv('data/laliga.csv',
                 names = ['Indice', 'Temporada', 'Division', 'Jornada',
                          'Equipo local', 'Equipo visitante', 'Goles local',
                          'Goles visitante', 'fecha', 'timestamp'],
                header = 0)
df.head()

,Indice,Temporada,Division,Jornada,Equipo local,Equipo visitante,Goles local,Goles visitante,fecha,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

Si queremos cambiar los tipos de los datos, en la propia lectura

In [21]:
df.dtypes

Indice               int64
Temporada           object
Division             int64
Jornada              int64
Equipo local        object
Equipo visitante    object
Goles local          int64
Goles visitante      int64
fecha               object
timestamp            int64
dtype: object

In [22]:
df = pd.read_csv("data/laliga.csv",
                usecols = ['Unnamed: 0', 'division', 'localTeam'],
                dtype = {'Unnamed: 0': object,
                         'division': np.int16, # np.int64
                         'localTeam': object})

df.head()

  Unnamed: 0  division           localTeam
0      26201         1  Atletico de Bilbao
1      26202         1              Alaves
2      26203         1            Valencia
3      26204         1  Atletico de Madrid
4      26205         1               Cadiz

In [23]:
df.dtypes

Unnamed: 0    object
division       int16
localTeam     object
dtype: object

**¿Cómo leer un archivo CSV que no esté separado por comas?**
Probemos a leer un archivo CSV, que no tiene comas como delimitador

In [24]:
df = pd.read_csv("data/laligaPC.csv")
df.head()

  Unnamed: 0;season;division;round;localTeam;visitorTeam;localGoals;visitorGoals;date;timestamp
0  26201;2005-06;1;1;Atletico de Bilbao;Real Soci...
1  26202;2005-06;1;1;Alaves;Barcelona;0;0;27/08/2...
2  26203;2005-06;1;1;Valencia;Betis;1;0;27/08/200...
3  26204;2005-06;1;1;Atletico de Madrid;Zaragoza;...
4  26205;2005-06;1;1;Cadiz;Real Madrid;1;2;28/08/...

Lo lee todo como una única línea ya que no encuentra comas. **Se recomienda trabajar con CSVs cuyo separador sea el ; así evitamos problemas por los decimales**.

In [25]:
df = pd.read_csv("data/laligaPC.csv", sep=';')
df.head()

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

¿Podemos tener otros caracteres que separen los datos?

In [26]:
df = pd.read_csv("data/laliga4.csv")
df.head()

  Unnamed: 0~season~division~round~localTeam~visitorTeam~localGoals~visitorGoals~date~timestamp
0  26201~2005-06~1~1~Atletico de Bilbao~Real Soci...
1  26202~2005-06~1~1~Alaves~Barcelona~0~0~27/08/2...
2  26203~2005-06~1~1~Valencia~Betis~1~0~27/08/200...
3  26204~2005-06~1~1~Atletico de Madrid~Zaragoza~...
4  26205~2005-06~1~1~Cadiz~Real Madrid~1~2~28/08/...

In [27]:
df = pd.read_csv("data/laliga4.csv", sep='~')
df.head()

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

In [28]:
pd.read_csv("data/laligaPC.csv", sep=";")

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...,...
4935,36680,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,36681,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,36682,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,36683,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,36684,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

**Escritura de CSV**

Para escribir un CSV usamos el método `to_csv()`. Tienes [el enlace a la documentación para ver más detalle](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).

In [54]:
df.to_csv("data/laligaWrite.csv", sep = ';', index = False)

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio CSV</h3>

Crea un fichero de CSV llamado ejercicio_clase.csv en la carpeta de data a partir de estas Series con separador de ; y leelo a continuación.
         
 </td></tr>
</table>

In [ ]:
# Aquí va tu código

## 4. Excel
¿Qué empresa no trabaja con Excel? **Nos vamos a encontrar los formatos de datos de Excel en cualquier sitio**. Las extensiones de archivo más habituales son `.xlsx` y `.xls`. Por suerte, **`pandas` tiene métodos para leer los formatos de archivo de Excel**.

El problema que presenta este tipo de lectura de datos es que **no es un formato tan cerrado como el CSV**. En el CSV tenemos una estructura compacta, con todos los datos separados por comas y con una línea de cabecera en la primera fila. El Excel permite tener datos en un formato mucho más flexible, con tablas en cualquier sitio de las hojas, información en varias hojas y demás.

Teniendo esto en cuenta, y sabiendo bien el formato del Excel en cuestión, podremos leerlo sin problemas con `pandas`, debido a la cantidad de argumentos que tiene la función `read_excel`. [En la documentación tienes todo el detalle](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html).

Leemos nuestro archivo de laliga, pero en este caso en Excel

In [ ]:
# !pip install openpyxl

In [31]:
df = pd.read_excel('data/laliga.xlsx')
df.head()

,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06-01,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27,1125093600
1,26202,2005-06-01,1,1,Alaves,Barcelona,0,0,2005-08-27,1125093600
2,26203,2005-06-01,1,1,Valencia,Betis,1,0,2005-08-27,1125093600
3,26204,2005-06-01,1,1,Atletico de Madrid,Zaragoza,0,0,2005-08-28,1125180000
4,26205,2005-06-01,1,1,Cadiz,Real Madrid,1,2,2005-08-28,1125180000

No tenemos problemas cuando los datos están perfectos, con una única hoja, y empezando en la celda A1. ¿Qué argumentos nos pueden resultar útiles?

1. `io`: dónde está el archivo
2. `sheet_name`: el nombre de la hoja
3. `header`: dónde está la cabecera
4. `usecols`: indica el rango de columnas Excel en el que se encuentran. Por ejemplo: 'A:F'
5. `skiprows`: filas que deberia ignorar

Veamos más ejemplos. El Excel de `laliga.xlsx` tiene varias pestañas. Por defecto, lee la primera, `Hoja1`, pero podemos especificar otras.

In [32]:
df = pd.read_excel('data/laliga.xlsx', sheet_name = 'Hoja2')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
2,26201,2005-06-01 00:00:00,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27 00:00:00,1125093600
3,26202,2005-06-01 00:00:00,1,1,Alaves,Barcelona,0,0,2005-08-27 00:00:00,1125093600
4,26203,2005-06-01 00:00:00,1,1,Valencia,Betis,1,0,2005-08-27 00:00:00,1125093600

Vemos que hay algún problema con los datos. Las primeras líneas están en blanco en el Excel. Podemos, o bien ignorarlas, o indicarle donde está la cabecera

In [33]:
df = pd.read_excel('data/laliga.xlsx', sheet_name = 'Hoja2', header = 2)
df.head()

,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06-01,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27,1125093600
1,26202,2005-06-01,1,1,Alaves,Barcelona,0,0,2005-08-27,1125093600
2,26203,2005-06-01,1,1,Valencia,Betis,1,0,2005-08-27,1125093600
3,26204,2005-06-01,1,1,Atletico de Madrid,Zaragoza,0,0,2005-08-28,1125180000
4,26205,2005-06-01,1,1,Cadiz,Real Madrid,1,2,2005-08-28,1125180000

Otro problema que nos puede surgir es que la tabla no esté ni en las primeas filas, ni en las primeras columnas

In [34]:
df = pd.read_excel('data/laliga.xlsx',
                   sheet_name = 'Hoja3',
                  header = 2,
                  usecols = 'B:K')
df.head()

,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06-01,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27,1125093600
1,26202,2005-06-01,1,1,Alaves,Barcelona,0,0,2005-08-27,1125093600
2,26203,2005-06-01,1,1,Valencia,Betis,1,0,2005-08-27,1125093600
3,26204,2005-06-01,1,1,Atletico de Madrid,Zaragoza,0,0,2005-08-28,1125180000
4,26205,2005-06-01,1,1,Cadiz,Real Madrid,1,2,2005-08-28,1125180000

In [35]:
df = pd.read_excel('data/laliga.xlsx',
                   sheet_name = 'Hoja4',
                  header = 3,
                  usecols = 'C:L',
                  nrows = 10)
df.head()

,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06-01,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27,1125093600
1,26202,2005-06-01,1,1,Alaves,Barcelona,0,0,2005-08-27,1125093600
2,26203,2005-06-01,1,1,Valencia,Betis,1,0,2005-08-27,1125093600
3,26204,2005-06-01,1,1,Atletico de Madrid,Zaragoza,0,0,2005-08-28,1125180000
4,26205,2005-06-01,1,1,Cadiz,Real Madrid,1,2,2005-08-28,1125180000

In [36]:
df = pd.read_excel('data/laliga.xlsx',
                   sheet_name = 'Hoja5',
                   skiprows=list(range(4942,4952)))
len(df)

4964

**Escritura de Excel**

Al igual que con el CSV, tenemos el método `to_excel()`, para escribir el `DataFame` en un archivo Excel. **Recuerda poner la extensión del Excel (.xlsx) en el nombre del archivo**. Tienes [el enlace a la documentación para ver más detalle](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html).

In [59]:
df.to_excel('data/laligaExcelWrite.xlsx')

## 5. XML
XML, siglas en inglés de **eXtensible Markup Language**, traducido como 'Lenguaje de Marcado Extensible' o 'Lenguaje de Marcas Extensible', es un metalenguaje que permite definir lenguajes de marcas desarrollado por el World Wide Web Consortium (W3C) utilizado para almacenar datos en forma legible

Muchos os habréis topado con algo similar cuando accedéis al código fuente de una página web. Esto es por que el HyperText Markup Language (HTML) es una especificación de este mismo lenguaje. Con lo que lo que veamos a continuación debería servirnos también para procesar información contenida en las páginas web.

Un XML tiene la siguiente pinta:

![imagen](./img/xml.webp)

Una de las formas más simples de trabajar este tipo de documento es convirtiéndolo a diccionario de Python dado que dispone de una sintaxis equivalente identificando claves y valores en distintos niveles de anidación.

In [ ]:
# !pip install xmltodict

In [63]:
import xmltodict
import pprint

with open('data/books.xml', 'r', encoding='utf-8') as file:
    my_xml = file.read()

# Use xmltodict to parse and convert  
# the XML document 
my_dict = xmltodict.parse(my_xml) 
  
# Print the dictionary 
pprint.pprint(my_dict, indent=2)

{ 'catalog': { 'book': [ { '@id': 'bk101',
                           'author': 'Gambardella, Matthew',
                           'description': 'An in-depth look at creating '
                                          'applications \n'
                                          '      with XML.',
                           'genre': 'Computer',
                           'price': '44.95',
                           'publish_date': '2000-10-01',
                           'title': "XML Developer's Guide"},
                         { '@id': 'bk102',
                           'author': 'Ralls, Kim',
                           'description': 'A former architect battles '
                                          'corporate zombies, \n'
                                          '      an evil sorceress, and her '
                                          'own childhood to become queen \n'
                                          '      of the world.',
                           'genre': 'Fantasy',
                           'price': '5.95',
                           'publish_date': '2000-12-16',
                           'title': 'Midnight Rain'},
                         { '@id': 'bk103',
                           'author': 'Corets, Eva',
                           'description': 'After the collapse of a '
                                          'nanotechnology \n'
                                          '      society in England, the young '
                                          'survivors lay the \n'
                                          '      foundation for a new society.',
                           'genre': 'Fantasy',
                           'price': '5.95',
                           'publish_date': '2000-11-17',
                           'title': 'Maeve Ascendant'},
                         { '@id': 'bk104',
                           'author': 'Corets, Eva',
                           'description': 'In post-apocalypse England, the '
                                          'mysterious \n'
                                          '      agent known only as Oberon '
                                          'helps to create a new life \n'
                                          '      for the inhabitants of '
                                          'London. Sequel to Maeve \n'
                                          '      Ascendant.',
                           'genre': 'Fantasy',
                           'price': '5.95',
                           'publish_date': '2001-03-10',
                           'title': "Oberon's Legacy"},
                         { '@id': 'bk105',
                           'author': 'Corets, Eva',
                           'description': 'The two daughters of Maeve, '
                                          'half-sisters, \n'
                                          '      battle one another for '
                                          'control of England. Sequel to \n'
                                          "      Oberon's Legacy.",
                           'genre': 'Fantasy',
                           'price': '5.95',
                           'publish_date': '2001-09-10',
                           'title': 'The Sundered Grail'},
                         { '@id': 'bk106',
                           'author': 'Randall, Cynthia',
                           'description': 'When Carla meets Paul at an '
                                          'ornithology \n'
                                          '      conference, tempers fly as '
                                          'feathers get ruffled.',
                           'genre': 'Romance',
                           'price': '4.95',
                           'publish_date': '2000-09-02',
                           'title': 'Lover Birds'},
                         { '@id': 'bk107',
                           'author': 'Thurman, Paula',
                           'description': 'A deep sea diver finds true love '
                                          'twenty \n'
                                          '      thousand leagues beneath the '
                                          'sea.',
                           'genre': 'Romance',
                           'price': '4.95',
                           'publish_date': '2000-11-02',
                           'title': 'Splish Splash'},
                         { '@id': 'bk108',
                           'author': 'Knorr, Stefan',
                           'description': 'An anthology of horror stories '
                                          'about roaches,\n'
                                          '      centipedes, scorpions  and '
                                          'other insects.',
                           'genre': 'Horror',
                           'price': '4.95',
                           'publish_date': '2000-12-06',
                           'title': 'Creepy Crawlies'},
                         { '@id': 'bk109',
                           'author': 'Kress, Peter',
                           'description': 'After an inadvertant trip through a '
                                          'Heisenberg\n'
                                          '      Uncertainty Device, James '
                                          'Salway discovers the problems \n'
                                          '      of being quantum.',
                           'genre': 'Science Fiction',
                           'price': '6.95',
                           'publish_date': '2000-11-02',
                           'title': 'Paradox Lost'},
                         { '@id': 'bk110',
                           'author': "O'Brien, Tim",
                           'description': "Microsoft's .NET initiative is "
                                          'explored in \n'
                                          '      detail in this deep '
                                          "programmer's reference.",
                           'genre': 'Computer',
                           'price': '36.95',
                           'publish_date': '2000-12-09',
                           'title': 'Microsoft .NET: The Programming Bible'},
                         { '@id': 'bk111',
                           'author': "O'Brien, Tim",
                           'description': 'The Microsoft MSXML3 parser is '
                                          'covered in \n'
                                          '      detail, with attention to XML '
                                          'DOM interfaces, XSLT processing, \n'
                                          '      SAX and more.',
                           'genre': 'Computer',
                           'price': '36.95',
                           'publish_date': '2000-12-01',
                           'title': 'MSXML3: A Comprehensive Guide'},
                         { '@id': 'bk112',
                           'autor': 'Galos, Mike',
                           'descripcion': 'Microsoft Visual Studio 7 is '
                                          'explored in depth,\n'
                                          '      looking at how Visual Basic, '
                                          'Visual C++, C#, and ASP+ are \n'
                                          '      integrated into a '
                                          'comprehensive development \n'
                                          '      environment.',
                           'fecha_pub': '2001-04-16',
                           'genero': 'Computer',
                           'precio': '49.95',
                           'título': 'Visual Studio 7: A Comprehensive '
                                     'Guide'}]}}

In [64]:
my_dict['catalog']['book'][0]

{'@id': 'bk101',
 'author': 'Gambardella, Matthew',
 'title': "XML Developer's Guide",
 'genre': 'Computer',
 'price': '44.95',
 'publish_date': '2000-10-01',
 'description': 'An in-depth look at creating applications \n      with XML.'}

Dada una lista de elementos comunes, es fácil crear un DataFrame que nos facilite tareas de procesado posterior, pero tened cuidado ya que no todos los elementos tienen porque ser iguales.

In [66]:
books = pd.DataFrame(my_dict['catalog']['book'])
books

,@id,author,title,genre,price,publish_date,description,autor,título,genero,precio,fecha_pub,descripcion
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...,NaN,NaN,NaN,NaN,NaN,NaN
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ...",NaN,NaN,NaN,NaN,NaN,NaN
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...,NaN,NaN,NaN,NaN,NaN,NaN
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ...",NaN,NaN,NaN,NaN,NaN,NaN
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ...",NaN,NaN,NaN,NaN,NaN,NaN
5,bk106,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...,NaN,NaN,NaN,NaN,NaN,NaN
6,bk107,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...,NaN,NaN,NaN,NaN,NaN,NaN
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\...",NaN,NaN,NaN,NaN,NaN,NaN
8,bk109,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...,NaN,NaN,NaN,NaN,NaN,NaN
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...,NaN,NaN,NaN,NaN,NaN,NaN
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...,NaN,NaN,NaN,NaN,NaN,NaN
11,bk112,NaN,NaN,NaN,NaN,NaN,NaN,"Galos, Mike",Visual Studio 7: A Comprehensive Guide,Computer,49.95,2001-04-16,Microsoft Visual Studio 7 is explored in depth...

In [67]:
books.columns

Index(['@id', 'author', 'title', 'genre', 'price', 'publish_date',
       'description', 'autor', 'título', 'genero', 'precio', 'fecha_pub',
       'descripcion'],
      dtype='object')

In [69]:
my_dict['catalog']['book'][-1]

{'@id': 'bk112',
 'autor': 'Galos, Mike',
 'título': 'Visual Studio 7: A Comprehensive Guide',
 'genero': 'Computer',
 'precio': '49.95',
 'fecha_pub': '2001-04-16',
 'descripcion': 'Microsoft Visual Studio 7 is explored in depth,\n      looking at how Visual Basic, Visual C++, C#, and ASP+ are \n      integrated into a comprehensive development \n      environment.'}

In [68]:
pd.DataFrame(my_dict['catalog']['book'][:-1])

,@id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."
5,bk106,"Randall, Cynthia",Lover Birds,Romance,4.95,2000-09-02,When Carla meets Paul at an ornithology \n ...
6,bk107,"Thurman, Paula",Splish Splash,Romance,4.95,2000-11-02,A deep sea diver finds true love twenty \n ...
7,bk108,"Knorr, Stefan",Creepy Crawlies,Horror,4.95,2000-12-06,"An anthology of horror stories about roaches,\..."
8,bk109,"Kress, Peter",Paradox Lost,Science Fiction,6.95,2000-11-02,After an inadvertant trip through a Heisenberg...
9,bk110,"O'Brien, Tim",Microsoft .NET: The Programming Bible,Computer,36.95,2000-12-09,Microsoft's .NET initiative is explored in \n ...
10,bk111,"O'Brien, Tim",MSXML3: A Comprehensive Guide,Computer,36.95,2000-12-01,The Microsoft MSXML3 parser is covered in \n ...

## 6. JSON
***JavaScript Objet Notation* es otro formato de texto plano que se utiliza para el itercambio de datos**. Originalmente se utilizaba como notación literal de objetos en JavaScript, pero actualmente es un formato de datos independiente del lenguaje. JavaScript es un lenguaje de programación web, por lo que JSON se utiliza mucho en el intercambio de objetos entre cliente y servidor.

**¿Qué diferencia hay con un CSV o un Excel?** Ya no tenemos esa estructura de fila/columna, sino que ahora es un formato tipo clave/valor, como si fuese un diccionario. En una tabla en la fila 1, columna 1, tienes un valor. En un JSON no, en la clave "mi_clave" puedes tener almacenado un valor, una lista o incluso un objeto. Salimos del formato tabla al que estamos acostumbrados para ganar en flexibilidad.

Un JSON tiene la siguiente pinta:

![imagen](./img/json_image.png)

In [37]:
data =  {
        "firstName": "Jane",
        "lastName": "Doe",
        "hobbies": ["running", "sky diving", "singing"],
        "age": 35,
        "children": [
            {
                "firstName": "Alice",
                "age": 6
            },
            {
                "firstName": "Bob",
                "age": 8
            }
        ]
    }

In [38]:
data['hobbies'][0]

'running'

In [39]:
data['children'][1]['firstName']

'Bob'

In [40]:
for kid in data['children']:
    print(kid['firstName'])

Alice
Bob

**Puedo guardar el JSON en un archivo. Para ello, usamos la librería `json`**, que viene incluida en la instalación de Anaconda.

In [41]:
import json

with open("data/data_file.json", "w") as write_file:
    json.dump(data, write_file)

O también objetos de una clase

In [42]:
class Persona:
    
    def __init__(self, firstName, lastName, hobbies):
        self.firstName = firstName
        self.lastName = lastName
        self.hobbies = hobbies
        
pers1 = Persona("Pepe", "Carrasco", ["Bricolaje", "Tenis"])
pers2 = Persona("Jose", "Carrasco", ["Bricolaje", "Tenis"])

In [43]:
pers1

In [44]:
pers1.__dict__

{'firstName': 'Pepe',
 'lastName': 'Carrasco',
 'hobbies': ['Bricolaje', 'Tenis']}

Lo puedo guardar en un archivo *pepe.json*

In [45]:
with open("data/pepe.json", "w") as write_file:
    json.dump(pers2.__dict__, write_file)

Luego lo puedo volver a cargar

In [46]:
with open("data/pepe.json", "r") as json_file:
    data = json.load(json_file)
    
print(data)
print(data['firstName'])

{'firstName': 'Jose', 'lastName': 'Carrasco', 'hobbies': ['Bricolaje', 'Tenis']}
Jose

Para el siguiente ejemplo, utilizamos `pandas` y leeremos el archivo JSON, de tal manera que nos transforme los datos en formato tabla, en un `DataFrame`.

In [47]:
df = pd.read_json('data/Musical_Instruments_5.json', lines = True)
df

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2IBPI20UZIR0U,1384719342,"cassandra tu ""Yeah, well, that's just like, u...","[0, 0]","Not much to write about here, but it does exac...",5,good,1393545600,"02 28, 2014"
1,A14VAT5EAX3D9S,1384719342,Jake,"[13, 14]",The product does exactly as it should and is q...,5,Jake,1363392000,"03 16, 2013"
2,A195EZSQDW3E21,1384719342,"Rick Bennette ""Rick Bennette""","[1, 1]",The primary job of this device is to block the...,5,It Does The Job Well,1377648000,"08 28, 2013"
3,A2C00NNG1ZQQG2,1384719342,"RustyBill ""Sunday Rocker""","[0, 0]",Nice windscreen protects my MXL mic and preven...,5,GOOD WINDSCREEN FOR THE MONEY,1392336000,"02 14, 2014"
4,A94QU4C90B1AX,1384719342,SEAN MASLANKA,"[0, 0]",This pop filter is great. It looks and perform...,5,No more pops when I record my vocals.,1392940800,"02 21, 2014"
...,...,...,...,...,...,...,...,...,...
10256,A14B2YH83ZXMPP,B00JBIVXGC,Lonnie M. Adams,"[0, 0]","Great, just as expected. Thank to all.",5,Five Stars,1405814400,"07 20, 2014"
10257,A1RPTVW5VEOSI,B00JBIVXGC,Michael J. Edelman,"[0, 0]",I've been thinking about trying the Nanoweb st...,5,"Long life, and for some players, a good econom...",1404259200,"07 2, 2014"
10258,AWCJ12KBO5VII,B00JBIVXGC,Michael L. Knapp,"[0, 0]",I have tried coated strings in the past ( incl...,4,Good for coated.,1405987200,"07 22, 2014"
10259,A2Z7S8B5U4PAKJ,B00JBIVXGC,"Rick Langdon ""Scriptor""","[0, 0]","Well, MADE by Elixir and DEVELOPED with Taylor...",4,Taylor Made,1404172800,"07 1, 2014"
10260,A2WA8TDCTGUADI,B00JBIVXGC,TheTerrorBeyond,"[0, 0]","These strings are really quite good, but I wou...",4,"These strings are really quite good, but I wou...",1405468800,"07 16, 2014"

## 7. TXT
**Son simplemente archivos donde hay texto**. Hemos visto que los CSVs y los JSON tienen su propio formato y extension. En el caso del .txt no tienen ninguno específico aunque no quita para que sus elementos estén separados por comas, y se pueda leer igualmente como si fuese un CSV.

Cuando almacenamos datos siempre tienen una estructura, por lo que aunque sea un `.txt`, llevará los datos en formato json, separados por comas, tabulaciones, puntos y comas...

Por ejemplo, si tenemos los datos de la liga guardados en un `.txt`, separados por tabulaciones, lo podremos leer con el `pd.read_csv()`.

In [48]:
import pandas as pd

In [50]:
df = pd.read_csv('data/laligaTXT.txt', sep='\t')
df.head()

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

Recuerda que la separación por tabulaciones, también tiene su propia extensión: el `.tsv`, que igualmente lo podremos leer con `read_csv()`.

In [51]:
df = pd.read_csv('data/laligaTSV.tsv', sep='\t')
df.head()

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,26203,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,26204,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,26205,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000

El método `read_csv()` no se ciñe únicamente a leer CSVs, sino a prácticamente cualquier archivo que lleve un acarácter concreto en la separación de sus campos. Si conocemos ese caracter, sabremos leer el archivo con `pandas`.

## 8. ZIP
En ocasiones los datos que recibimos en nuestros programas están comprimidos, ya sea en un formato `.zip`, `.rar`, `.7z`, u otro tipo de archivo.

En este apartado verás un ejemplo de cómo descomprimir archivos `.zip`. Para ello empleamos la librería `zipfile` que viene incluida en la instalación de Anaconda. [Tienes el enlace a la documentación para más detalle](https://docs.python.org/3/library/zipfile.html#zipfile-objects).

Para extraer todos los archivos:

In [52]:
import zipfile

with zipfile.ZipFile('data/laligaZIP.zip') as zip_ref:
    zip_ref.extractall('data')

Si quieres descomprimir un archivo `.rar` [tendrás que descargarte un paquete como por ejemplo `unrar`.](https://pypi.org/project/unrar/)

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio zip</h3>

Consulta la documentación para extrar un único archivo por nombre de data/laligaZIP.zip en la carpeta extracted_files.
         
 </td></tr>
</table>

In [ ]:
# Aquí va vuestro código

## 9. pickle
**`pickle` es el módulo que nos permite serializar y deserializar un objeto de Python**. La serialización lo que hace es traducirlo a un stream de bytes de forma que su representación sea más compacta (ocupe menos).

A efectos prácticos, lo que nos permite es guardar objetos de Python, y recuperarlos más adelante.

In [54]:
import pickle

df = pd.read_csv("data/laliga.csv")

with open('data/pepe.json') as json_file:
    data = json.load(json_file)
    
with open('data/importante', 'wb') as f:
    pickle.dump(pers1, f)
    pickle.dump(df, f)
    pickle.dump(data, f)

In [55]:
with open('data/importante', 'rb') as f:
    a = pickle.load(f)
    b = pickle.load(f)
    c = pickle.load(f)
    
print(a)
print(b)
print(c)

<__main__.Persona object at 0x7752f4b0bbe0>
      Unnamed: 0   season  division  round           localTeam    visitorTeam  \
0          26201  2005-06         1      1  Atletico de Bilbao  Real Sociedad
1          26202  2005-06         1      1              Alaves      Barcelona
2          26203  2005-06         1      1            Valencia          Betis
3          26204  2005-06         1      1  Atletico de Madrid       Zaragoza
4          26205  2005-06         1      1               Cadiz    Real Madrid
...          ...      ...       ...    ...                 ...            ...
4935       36680  2017-18         1     38          Villarreal    Real Madrid
4936       36681  2017-18         1     38  Atletico de Bilbao        Espanol
4937       36682  2017-18         1     38           Barcelona  Real Sociedad
4938       36683  2017-18         1     38            Valencia      Deportivo
4939       36684  2017-18         1     38  Atletico de Madrid          Eibar

      localGoals  visitorGoals        date   timestamp
0              3             0  27/08/2005  1125093600
1              0             0  27/08/2005  1125093600
2              1             0  27/08/2005  1125093600
3              0             0  28/08/2005  1125180000
4              1             2  28/08/2005  1125180000
...          ...           ...         ...         ...
4935           2             2  19/05/2018  1526680800
4936           0             1  20/05/2018  1526767200
4937           1             0  20/05/2018  1526767200
4938           2             1  20/05/2018  1526767200
4939           2             2  20/05/2018  1526767200

[4940 rows x 10 columns]
{'firstName': 'Jose', 'lastName': 'Carrasco', 'hobbies': ['Bricolaje', 'Tenis']}

Existen multitud de tipologías de ficheros con distintas serializaciones. En concreto ficheros destinados a una transmisión más eficaz por disponer los datos de forma secuencial ([Apache Avro](https://en.wikipedia.org/wiki/Apache_Avro)) o dispuestos en columnas para facilitar tareas de analítica ([Apache Parquet](https://parquet.apache.org/docs/file-format/)). Estos formatos son muy comunes en el ámbito del Big Data y han dado origen a otros formatos derivados como [Delta Lake](https://parquet.apache.org/docs/file-format/) o [Apache Arrow](https://arrow.apache.org/)

## 10. Encoding
**Los strings se almacenan internamente en un conjunto de bytes**, caracter a caracter. Esta operación es lo que se conoce como ***encoding***, mientras que pasar de bytes a string sería *decoding*. Bien, ¿y eso en qué nos afecta? Dependiendo del encoding, se suelen almacenar en un espacio de bits de 0 a 255, es decir, en esa combinación de bits tienen que entrar todos los caracteres del lenguaje.

El problema es que en toda esa combinación de bits no entran todos los caracteres del planeta, por lo que **dependiendo del encoding que usemos, una combinación de bits significará una cosa u otra**. Por ejemplo, una A mayuscula será lo mismo en el encodig europeo que en el americano, pero los bits reservados para representar una Ñ, en el encodig americano se traduce en otro caracter.

Por tanto, **hay que tener claro en qué encoding está el archivo y con qué encoding lo vamos a leer**. [En la documentación](https://docs.python.org/3/library/codecs.html#encodings-and-unicode) puedes realizar esta comprobación. Hay algunos que te tienen que ir sonando:

1. 'utf-8': normalmente se trabaja con este encoding que engloba la mayor parte de caracteres.
2. 'unicode': estándar universal con el que no deberiamos tener problemas.
3. 'ascii': encoding americano. Solo tiene 128 caracteres.
4. 'latin': para oeste de Europa, Oceanía y Latinoamérica

![imagen](./img/encoding.jpg)

In [56]:
pd.read_csv('data/encoding.csv', encoding = 'utf-8')

      País                       Comida
0   España                       paella
1    Japón                        sushi
2  Francia  La Lamproie à la Bordelaise

In [57]:
pd.read_csv('data/encoding.csv', encoding = 'ascii')

UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 2: ordinal not in range(128)

In [58]:
pd.read_csv('data/encoding.csv', encoding='iso8859_10')

     PaÃ­s                        Comida
0  EspaÃąa                        paella
1   JapÃģn                         sushi
2  Francia  La Lamproie Ã  la Bordelaise

## 11. Archivos y carpetas
Resulta de gran utilidad automatizar lecturas/escrituras/borrado/movimientos de archivos entre carpetas. Si tenemos un proceso definido en Python, podremos ejecutarlo tantas veces queramos y de este modo evitar dedicarle tiempo tareas tediosas y rutinarias. Para ello tendremos que apoyarnos en el módulo de Python `os`.

Lo primero de todo es saber en qué directorio estamos trabajando. Esto es fundamental para elegir bien la ruta relativa.

In [15]:
import os
os.getcwd()

'/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría'

El directorio de trabajo lo podríamos cambiar si quisiéramos, por ejemplo, al escritorio.

In [16]:
os.listdir()

['Lectura_Escritura.ipynb', 'img', 'data']

In [17]:
os.chdir("./data")
print(os.getcwd())
print(os.listdir())

/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría/data
['file_writes.txt', 'poblacion.csv', 'data_file.json', 'class_hlf.py', 'laliga.csv', 'laligaTSV.tsv', 'laligaPC.csv', 'laligaZIP.zip', 'preguntas.py', 'preguntas.txt', 'ejercicio.csv', 'file_write.txt', 'importante', 'Musical_Instruments_5.json', 'pepe.json', 'laliga4.csv', 'laligaZIP.csv', 'dog_breeds.txt', 'encoding.csv', 'laligaWrite.csv', 'class_hlf.txt', 'laliga.xlsx', 'ejercicio_clase.csv', 'laligaTXT.txt', 'laligaExcelWrite.xlsx']

Podemos juntar rutas en un único path. Realiza un concatenado con barras entendibles por Windows.

In [19]:
os.path.join("/path/directory", "some_file.txt")

'/path/directory/some_file.txt'

Si quieres buscar algún tipo de archivo concreto, tienes varias opciones:
- Buscar por nombre
- Buscar por extensión

En función de lo que encuentres, realizarás una operación u otra. Ahora bien, igualmente para buscar, tendrás que recorrer todos los archivos que estén en un directorio o en varios directorios. Para listar todos los ARCHIVOS y CARPETAS que hay en el directorio actual de trabajo, utilizamos `os.listdir()`.

In [20]:
os.getcwd()

'/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría/data'

In [21]:
os.listdir()

['file_writes.txt',
 'poblacion.csv',
 'data_file.json',
 'class_hlf.py',
 'laliga.csv',
 'laligaTSV.tsv',
 'laligaPC.csv',
 'laligaZIP.zip',
 'preguntas.py',
 'preguntas.txt',
 'ejercicio.csv',
 'file_write.txt',
 'importante',
 'Musical_Instruments_5.json',
 'pepe.json',
 'laliga4.csv',
 'laligaZIP.csv',
 'dog_breeds.txt',
 'encoding.csv',
 'laligaWrite.csv',
 'class_hlf.txt',
 'laliga.xlsx',
 'ejercicio_clase.csv',
 'laligaTXT.txt',
 'laligaExcelWrite.xlsx']

Voy a quedarme con todos los notebooks del actual directorio de trabajo.

In [24]:
for i in os.listdir():
    if i.endswith('.zip'):
        print("Zip", i)

Zip laligaZIP.zip

Si quiero acceder sólo a los directorios

In [31]:
os.chdir("..")
os.listdir()

['Lectura_Escritura.ipynb', 'img', 'data']

In [32]:
for i in os.listdir():
    if '.' not in i:
        print("directorio", i)

directorio img
directorio data

Otro método interesante para bucear en los archivos y carpetas de un directorio concreto es el `os.walk()`. Va a devoler un iterable que podremos recorrer en un for y obtener en formato tupla todos los archivos, subcarpetas y ficheros de subcarpetas. Para cada elemento de la tupla tenemos:
- El directorio donde está apuntando.
- Los directorios que hay ahí.
- Los archivos que hay ahí.

In [33]:
result_generator = os.walk(os.getcwd())

files_result = [x for x in result_generator]
files_result

[('/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría',
  ['img', 'data'],
  ['Lectura_Escritura.ipynb']),
 ('/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría/img',
  [],
  ['json_image.png',
   'error.png',
   'ejercicio.png',
   'importante',
   'file.png',
   'python.png',
   'path.png',
   'python.jpg',
   'encoding.jpg',
   'ejercicios.png']),
 ('/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría/data',
  [],
  ['file_writes.txt',
   'poblacion.csv',
   'data_file.json',
   'class_hlf.py',
   'laliga.csv',
   'laligaTSV.tsv',
   'laligaPC.csv',
   'laligaZIP.zip',
   'preguntas.py',
   'preguntas.txt',
   'ejercicio.csv',
   'file_write.txt',
   'importante',
   'Musical_Instruments_5.json',
   'pepe.json',
   'laliga4.csv',
   'laligaZIP.csv',
   'dog_breeds.txt',
   'encoding.csv',
   'laligaWrite.csv',
   'class_hlf.txt',
   'laliga.xlsx',
   'ejercicio_clase.csv',
   'laligaTXT.txt',
   'laligaExcelWrite.xlsx'])]

¿Qué podemos hacer dentro de un directorio, aparte de listar ficheros y subdirectorios? Las principales operaciones serían:
- Crear o eliminar directorios
- Crear o eliminar ficheros
- Mover ficheros

In [34]:
os.mkdir('direct_prueba')

In [35]:
os.getcwd()

'/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría'

In [36]:
os.rmdir('direct_prueba')

In [89]:
f = open("fichero.txt", "w")

for i in range(10):
    f.write("Line:" + str(i))
    
f.close()

In [90]:
import shutil

shutil.move("fichero.txt", "data")

'data\\fichero.txt'

In [91]:
os.remove('data/fichero.txt')

In [37]:
os.path.dirname(os.path.abspath('__file__'))

'/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría'

In [79]:
import os
# os.path.dirname(os.path.abspath(__file__))

In [38]:
os.path.abspath('__file__')

'/home/iraitz/TheBridge/Otros/TheBridge_DSPT/2-Data Analysis/4-Fuentes de datos/Archivos/Teoría/__file__'