![imagen](./img/python.jpg)

# Programación funcional


En programación hay varios tipos de lenguajes. Como vimos en Notebooks anteriores, **Python es un lenguaje de programación orientado a objetos**. No obstante, es bastante versatil y **admite** otras funcionalidades propias de otros lenguajes, como es la **programación funcional**. En este Notebook verás qué utilidad tiene este tipo de programación, y cómo usarla en Python.

1. [Programacion funcional](#1.-Programacion-funcional)
2. [Funcion lambda](#2.-Funcion-lambda)
3. [Map](#3.-Map)
4. [Reduce](#4.-Reduce)
5. [Filter](#5.-Filter)
6. [Timeit](#6.-Timeit)
7. [Programacion funcional en Pandas](#7.-Programacion-funcional-en-Pandas)
8. [Resumen](#8.-Resumen)

## 1. Programacion funcional
Dependiendo del problema que queramos resolver, utilizaremos un tipo de lenguaje de programación u otro. Veamos la diferencia entre un lenguaje de programación orientado a objetos y uno funcional:
* **Programación Orientada a Objetos (OOP)**: sería el caso de Python. En este caso se encapsulan todos los elementos del programa en objetos, que son de cierto tipo, **tienen un estado**, atributos y funcionalidades. Lenguajes orientados a objetos son Java, Python, JavaScript, Ruby... entre otros.

* **Programación Funcional**: El programa se divide en un conjunto de funciones. Por tanto, es un entrada/salida continuo, ya que las funciones tienen un *input*, realizan operaciones, y después un *output*. Son lenguajes que ofrecen un buen rendimiento pero difíciles de desarrollar ya que hay que acudir mucho a la recursividad. Algunos de los lenguajes más usados son [Clojure](https://clojure.org) o [Scala](https://www.scala-lang.org).

Por tanto, ¿Python que es? ¿Es orientado a objetos...? ¿Es funcinal? **Python es orientado a objetos, pero además cuenta con ciertas funciones *built-in* propias de la programación funcional**, como `map` o `filter`, lo que nos va a aportar nuevas maneras de solventar problemas en nuestro programa, además de mejoras en rendimiento.

Como ves, Python nos va a permitir usar todas sus funcionalidades propias como lenguaje orientado a objetos que es, y además la posibilidad de combinarlas con otro tipo de programación, como es la funcional.


¿Cómo podemos iterar sobre una lista y calcular la suma de sus elementos?

In [2]:
lista = [1,2,3,4,5]

suma = 0
for i in lista:
    suma += i
suma

15

A parte de la función *built-in* de Python `sum()`, tenemos también la opción de la recursividad, con la que no usamos bucles, y únicamente realizamos operaciones mediante funciones.

In [4]:
def suma_fun(lista):
    if len(lista) == 0:
        return 0
    return lista[0] + suma_fun(lista[1:])

In [5]:
lista = [1,2,3]
suma_fun(lista)

6

In [7]:
1 + suma_fun([2,3])
1 + 2 + suma_fun([3])
1 + 2 + 3 + 0

6

La principal diferecia radica en **el estado**. En el caso del `for` tenemos un programa que va cambiando su estado, debido a las diferentes variables que toman `suma` e `i`. Sin embargo, en el segundo ejemplo no hay estados. Son funciones que llaman a otras, tienen un *input* y un *output*. Lo veremos más en detalle en el Notebook.

## 2. Funcion lambda
Recuerda cómo era la sintaxis para crear funciones:
```Python
def nombre_funcion(argumentos):
    cosas de la funcion
    return output
```
Una función tiene un nombre, unos parámetros de entrada, operaciones dentro y un output. En este apartado se presenta una nueva manera más ágil de crear funciones, gracias a la sentencia `lambda`. Con `lambda` podrás crear funciones sencillas y de una única expresión.

Las funciones `lambda` **son anónimas**, no tienen un nombre que las identifique, simplemente se ejecuta el código de la función que declaremos. 

La sintaxis de una función `lambda` es:
```Python
lambda argumentos: expresion
```

Veamos un ejemplo

In [9]:
# Declaramos funcion
def suma(x,y):
    return x + y

# Guardamos en variable
suma_var = suma

# Vemos el tipo
print(type(suma_var))

# Usamos la funcion
suma_var(5, 7)

<class 'function'>

12

Como ves, las funciones son un objeto más, que podemos asignar a una variable. Veamos ahora cómo traducimos esto a una función `lambda`

In [10]:
lambda x,y: x + y

In [11]:
# Si la asignamos a una variable
suma_lambda = lambda x,y: x + y

suma_lambda(5,7)

12

Las funciones `lambda` no se usan solas, sino que son argumentos de funciones de más alto nivel, es decir, funciones cuyos parámetros de entrada son otras funciones, como `map`, `reduce` o `filter`.

Las `lambdas` también pueden ser una buena manera de escribir código más entendible. Veamos un ejemplo en el que trabajamos con coordenadas.

In [12]:
estaciones = ((40.4440297, -3.6956047), (40.4585318, -3.684715))

inicio = lambda x: x[0]
fin = lambda x: x[1]

print(inicio(estaciones))
print(fin(estaciones))

(40.4440297, -3.6956047)
(40.4585318, -3.684715)

In [15]:
lat = lambda x: x[0]
lon = lambda x: x[1]

print(lat(inicio(estaciones)))
print(lon(inicio(estaciones)))

40.4440297
-3.6956047

In [14]:
print(lat((40.4440297, -3.6956047)))
print(lon((40.4440297, -3.6956047)))

40.4440297
-3.6956047

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con lambda</h3>
         
<ol>
    <li>Crea una función lambda con tres argumentos, y que multiplique los tres </li>
    <li>Crea otra función lambda con un único argumento y que calcule la raíz cuadrada del mismo.</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
# Aquí va vuestro código

## 3. Map
Se trata de una función *built-in* que tiene dos argumentos. Unos es una función, y el otro un iterable, que puede ser una lista, tupla, string... **Lo que hace es aplicarle la función a cada uno de los argumentos del iterable**. Mapea cada valor del iterable, le aplica una operación, y crea un nuevo iterable al que le ha aplicado dicha operación.

Su sintaxis es:
```Python
map(funcion, iterable)
```

Se trata de una manera de sustituir la funcionalidad de los bucles. Muy útil cuando queramos aplicar operaciones a una lista entera.

In [20]:
my_list = [1,5,4,6,11]

#my_list + 2 NO

new_list = map(lambda x: x + 2, my_list)

print(list(new_list))

[3, 7, 6, 8, 13]

Fíjate que la función `map` devuelve un *map object*, que no es más que un iterable, convertible fácilmente a una lista. Como ves, de momento aplicaremos una función `lambda` con una única expresión, pero más adelante verás cómo puedes aplicarle tus propias funciones más complejas.

Veamos otro ejemplo con operaciones diferentes

In [21]:
my_tuple = (True, False, True, True)

my_tuple = map(lambda x: not x, my_tuple)

print(list(my_tuple))

[False, True, False, False]

`map` trabaja con iterables, por lo que también será posible aplicarle un `map` a un string.

In [22]:
my_tuple = ("AAA", "BBB", "CCC")

my_tuple = map(lambda x: "W-" + x, my_tuple)

print(tuple(my_tuple))

('W-AAA', 'W-BBB', 'W-CCC')

In [23]:
my_tuple = ("AAA", "BBB", "CCC")

my_tuple = map(lambda x: "W-" + x if(x[0]=="B") else x, my_tuple)

print(tuple(my_tuple))

('AAA', 'W-BBB', 'CCC')

Puedes incluso separar la función `lambda`, para posteriormente usarla en otros lugares.

In [25]:
my_list = ("AAA", "BBB", "CCC")

my_fun = lambda x: "W-" + x

new_list = map(my_fun, my_list)

print(tuple(new_list))

('W-AAA', 'W-BBB', 'W-CCC')

**Incluso podrás aplicar tus propias funciones**. Imagina la versatilidad que te da esto. Dentro de cada función podrás realizar el cálculo que quieras, y ese calculo se le aplicará a cada elemento de tu iterable.

In [26]:
my_list = ("AAA", "BBB", "CCC")

def aniade_w(x):
    return "W-" + x

new_list = map(aniade_w, my_list)

print(tuple(new_list))

('W-AAA', 'W-BBB', 'W-CCC')

`map` también trabaja con funciones con varios argumentos, lo único que hay que hacer es añadirle un argumento más al `map`. Y esto es aplicable a *n* argumentos. Podría darse el caso en el que alguno de los iterables tenga menores dimensiones que el resto. Si ocurre eso, se aplicará el `map` hasta el iterable con la mínima longitud.

In [27]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

decimales = range(1,7)
print(list(decimales))

# round(numero decimal, cantidad de decimales)
result = map(round, circle_areas, decimales)

print(list(result))

[1, 2, 3, 4, 5, 6]
[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con map</h3>
         

         
<ol>
    <li>Escribe una función que utilice map() para aumentar el salario de cada empleado en un 10%.</li>
    <li>Crea un nuevo DataFrame con los salarios actualizados.</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
# Aquí va vuestro código

## 4. Reduce
La función `reduce` no es *built-in* como tal, sino que está incorporada en el paquete de `functools`. Su nombre ya nos da alguna pista sobre lo que hace, **es una manera de agregar los datos**. Tiene esta sintaxis:

```Python
reduce(funcion, iterable[, initial]))
```
`reduce`, al igual que `map`, tiene dos argumentos. Uno de ellos es el iterable que vayamos a usar, y el otro es la lógica que le queramos aplicar al `reduce`. La función que se le aplica al reduce tiene dos argumentos, que son los dos primeros elementos del iterable. Tiene un tercer argumento que es opcional, y nos permite iniciar la operación con un valor. Lo veremos luego en un ejemplo.

Si te fijas, `map` aplica la operación definida en la función a todos los elementos, devolviendo la misma lista, pero con los elementos transformados, mientras que **`reduce`, agrega todos los datos de la lista**.

In [36]:
from functools import reduce

lista = [1,3,5,6,2]

resultado = reduce(lambda x,y: x+y, lista)

print(resultado)

17

In [38]:
# (1+3) = 4 (4 + 5) = 9 (9+6) = 15 (15+2) = 17
# [1,3,5,6,2]
# [4,5,6,2]
# [9,6,2]
# [15,2]
# [17]

In [36]:
lista

[1, 3, 5, 6, 2]

`reduce` hay que entendero como si fuese una función recursiva. La función de dentro tiene dos argumentos que son los dos primeros elementos del iterable, y después al resultado de la suma de ambos, se le aplica la misma operación sobre el tercer elemento, y así hasta que acaba el iterable.

In [38]:
lista = [1,3,5,6,2]

resultado = reduce(lambda x,y: x+y, lista, 100)

print(resultado)

117

Realmente el `reduce` lleva un tercer argumento llamado `initializer`. Por defecto es `None`, pero si lo cambiamos, cuando llamemos a la función, su primer argumento será ese `initializer`. Por ejemplo, si estamos sumando toda una colección sería como si el primer elemento de la colección fuese el `initializer`.

In [39]:
lista_strings = ["Hola", " me", " llamo", " Ralph"]

resultado = reduce(lambda x,y: x+y, lista_strings, 'HI! ')

print(resultado)

HI! Hola me llamo Ralph

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con reduce</h3>
         
Utiliza reduce para calcular el producto de todos los elementos de la siguiente tupla: (9,4,6,4)
         
 </td></tr>
</table>

In [ ]:
# Aquí va vuestro código

## 5. Filter
Con esta función *built-in* podremos **filtrar elementos de un iterable**. `filter` tiene la siguiente sintaxis:

```Python
filter(funcion, iterable)
```

Como ves, funciona muy parecido a map. La diferencia es que ahora la función que se le aplica tiene una salida estilo `True`/`False` **(lo que se conoce como máscara)**. Y con ese `True`/`False` se filtra el iterable, respetando sus posiciones. Por ejemplo

```Python
lista1 = [-1, 10, 23, -5, -10]
```

Si filtras los números positivos, te queda un array del tipo:

```Python
lista_bools = [False, True, True, False, False]
```

Y eso es lo que se le aplica a la lista, conservando únicamente los `True`:

```Python
lista_resultado = [10, 23]
```

A diferencia de `map`, **en `filter` sólo se usa un iterable**. Además, recuerda que en el argumento de la función, no sólo podrás usar `lambda`s, sino que podrás aplicar tus propias funciones. Ahora bien, ten en cuenta que **el output de esas funciones tiene que ser un `True`/`False`**.

Veamos un ejemplo

In [43]:
lista = [ 1 , 3, 5, 6, 2]

filtrado = filter(lambda x: x >= 5, lista)

print(list(filtrado))

[5, 6]

O implementando nuestra propia función

In [45]:
lista = [ 1 , 3, 5, 6, 2]

def mas_cinco(x):
    if x >= 5:
        return True
    
    return False

filtrado = filter(mas_cinco, lista)

print(list(filtrado))

[5, 6]

Como ves, estas son otras formas más rápdas y elegantes de aplicar operaciones sobre colecciones.

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Trabajando con filter</h3>
         
Utiliza filter para conseguir quedarte únicamente con los floats de la siguiente tupla: (True, 4.3, 5, "Hola")
         
 </td></tr>
</table>

In [46]:
# Aquí va vuestro código

## 6. Timeit
Para el bootcamp, y en general si vas a realizar una analítica descriptiva de datos, no suele ser crítico el rendimiento en tu programa. Imagina que has desarrollado un clasificador de movimientos bancarios tipo *Fintonic*. Estos algoritmos suelen ser muy pesados ya que hay que buscar en muchos strings y hacer varias comprobaciones. Aun así, has conseguido que te clasifique cada movimiento en 0,5 segundos. Que está muy bien. El problema es cuando un cliente tiene 1000 movimientos en una cuenta y tienes que clasificarlos todos aplicando tu clasificador mediante un bucle. El programa se te dispara a 250 segundos -> 4 minutos aprox, que estará el cliente esperando a que tu clasificador acabe... muchísimo. Con programación funcional mejora mucho la cosa ya que no hay que iterar.

Por tanto, **cuando trabajes con muchos datos, ten en mente este tipo de funciones (`map`, `reduce`, `filter`) ya que la mejora en rendimiento es más que considerable.**

In [49]:
num_elementos = 1000000

lista = list(range(num_elementos))

In [50]:
%%timeit

lista_output = []
for i in lista:
    lista_output.append(i + 5)

83.3 ms ± 2.11 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

* "119 ms" es el tiempo promedio que tarda en ejecutarse el código.
* "6.15 ms" es la desviación estándar, lo que indica la variabilidad en los tiempos de ejecución.
* "7 runs" significa que se ejecutó el código 7 veces en total.
* "10 loops each" indica que en cada ejecución se repitió el código 10 veces.

In [51]:
%%timeit

lista_output = map(lambda x: x + 5, lista)

153 ns ± 4.76 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)

Como ves, pasamos de milisegundos a nanosegundos.

In [53]:
import numpy as np

array = np.array(lista)

In [54]:
%%timeit

nuevo_array = array + 5

1.9 ms ± 242 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## 7. Programacion funcional en Pandas
La programación funcional resulta muy útil cuando queremos aplicar operaciones a cada elemento de una columna. Para ello utilizamos la función de pandas `apply`.

Imaginemos que tenemos un DataFrame de temperaturas

In [56]:
import pandas as pd

weather = pd.DataFrame({"temperatura": [20, 15, 34, 4, 1, 25, 21, 29, 40]})
weather

   temperatura
0           20
1           15
2           34
3            4
4            1
5           25
6           21
7           29
8           40

Si quiero calcular una nueva variable que me indique si estoy en verano o invierno, aplicamos una función personalizada mediante `apply`. Para ello primero me defino la función.

In [57]:
def season(temp):
    if temp < 5:
        return "Invierno"
    elif temp > 30:
        return "Verano"
    else:
        return "Otra"
    
weather["season"] = weather["temperatura"].apply(season)
weather.head()

   temperatura    season
0           20      Otra
1           15      Otra
2           34    Verano
3            4  Invierno
4            1  Invierno

Es posible también aplicar una función lambda

In [59]:
weather["temperatura_10anios"] = weather["temperatura"].apply(lambda x: x + 5)
weather.head()

   temperatura    season  temperatura_10anios
0           20      Otra                   25
1           15      Otra                   20
2           34    Verano                   39
3            4  Invierno                    9
4            1  Invierno                    6

In [60]:
weather["season_mayusculas"] = weather["season"].apply(str.upper)
weather.head()

   temperatura    season  temperatura_10anios season_mayusculas
0           20      Otra                   25              OTRA
1           15      Otra                   20              OTRA
2           34    Verano                   39            VERANO
3            4  Invierno                    9          INVIERNO
4            1  Invierno                    6          INVIERNO

In [61]:
# (Grados °C × 9 / 5) + 32 = F

weather["temperatura_F"] = weather["temperatura"].apply(lambda x: (x *9/5)+32)
weather

   temperatura    season  temperatura_10anios season_mayusculas  temperatura_F
0           20      Otra                   25              OTRA           68.0
1           15      Otra                   20              OTRA           59.0
2           34    Verano                   39            VERANO           93.2
3            4  Invierno                    9          INVIERNO           39.2
4            1  Invierno                    6          INVIERNO           33.8
5           25      Otra                   30              OTRA           77.0
6           21      Otra                   26              OTRA           69.8
7           29      Otra                   34              OTRA           84.2
8           40    Verano                   45            VERANO          104.0

In [62]:
import numpy as np
weather['Negocio'] = np.where(weather['temperatura']>=20, True, False)
weather.head()

,temperatura,season,temperatura_10anios,season_mayusculas,temperatura_F,Negocio
0,20,Otra,25,OTRA,68.0,True
1,15,Otra,20,OTRA,59.0,False
2,34,Verano,39,VERANO,93.2,True
3,4,Invierno,9,INVIERNO,39.2,False
4,1,Invierno,6,INVIERNO,33.8,False

## 8. Resumen
Como habrás podido comprobar en este Notebook, y en lo vimos en recursividad, esta manera de programar es bastante diferente. Ya no entendemos el programa como un conjunto de variables o estados, sino como una serie de `input`/`output`. Lo bueno que tiene **Python es que combina la programación orientada a objetos con la programación funcional**, lo que le otorga una gran potencia.

In [ ]:
# Funciones lambda
suma_lambda = lambda x, y: x + y
print(suma_lambda(5, 7))


# Funcion map
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
new_list = map(lambda x: x + 2 , my_list)
print(list(new_list))


# Funcion reduce
from functools import reduce
lista = [ 1 , 3, 5, 6, 2]
print(reduce(lambda a,b : a+b, lista)) 


# Filter
lista = [ 1 , 3, 5, 6, 2]
filtrado = filter(lambda x: x >= 5, lista)
print(list(filtrado))